@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ba97a95e; */
  /* background-color: hsla(0, 0%, 21%, 0.732); */
  /* background-color: #222; */
  background-color: #222222eb;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 24px;
}
